<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>Register Equipment</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/officeequipment">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/officeequipment/equipments">Equipment List</a></li>
                    <li><i class="fa fa-square-o"></i>Equipment Add</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <form class="form-horizontal" th:action="@{/officeequipments/equipments}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            New Equipment Record
                        </header>
                        <br>
                        <div class="col-lg-6">
                            <section class="panel">
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-sm-4 col-form-label">Equipment Category: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" name="asset_category_id">-->
<!--                                            <option th:value="${null}">-SELECT-</option>-->
<!--                                            <option th:each="assetCategory : ${assetCategoryList}"-->
<!--                                                    th:value="${assetCategory.asset_category_id}"-->
<!--                                                    th:text="${assetCategory.asset_category_name}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label for="txtVehicleNameAdd" class="col-sm-4 col-form-label">Equipment
                                        Name: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtVehicleNameAdd" name="name"
                                               placeholder="Equipment Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtVehicleNumberAdd" class="col-sm-4 col-form-label">IFMIS
                                        NUMBER: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtVehicleNumberAdd"
                                               name="ifmisNumber" placeholder="IFMIS Number">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtRegistrationDateAdd" class="col-sm-4 col-form-label">
                                        GRZ Number: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtRegistrationDateAdd"
                                               name="grzNumber" placeholder="GRZ Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtAcquisitionDateAdd" class="col-sm-4 col-form-label">Acquisition
                                        Date: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" id="txtAcquisitionDateAdd"
                                               name="dateOfAcquisition" placeholder="Acquisition date">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtDescriptionAdd" class="col-sm-4 col-form-label">Equipment Description: </label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" id="txtDescriptionAdd"
                                                  name="description" placeholder="Description" rows="2"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtRegistrationDateAdd" class="col-sm-4 col-form-label">
                                        Serial Number: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="ddlCurretStatusAdd"
                                               name="serialNumber" placeholder="Serial Number">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtRegistrationDateAdd" class="col-sm-4 col-form-label">
                                        Capitalization Amount: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dlCurrentStatusAdd"
                                               name="capitalizationAmount" placeholder="Capitalization Amount">
                                    </div>
                                </div>



                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Revaluation Amount: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="ddlPowerAdd" name="revaluationAmount"
                                               placeholder="Revaluation Amount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtFuelCapacityAdd" class="col-sm-4 col-form-label">Fair
                                        Value: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtfuelCapacityAdd"
                                               name="fairValue" placeholder="Fair Value">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtNetWeightAdd" class="col-sm-4 col-form-label">Use Full Life:  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtNetWeightAdd" name="useFullLife"
                                               placeholder="UseFull Life">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtNetWeightAdd" class="col-sm-4 col-form-label">Disposal Amount:  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtRemarksAdd" name="disposalAmount"
                                               placeholder="Disposal Amount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtAcquisitionDateAdd" class="col-sm-4 col-form-label">Disposal
                                        Date: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" id="txtAcquisiionDateAdd"
                                               name="disposalDate" placeholder="Disposal date">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtNetWeightAdd" class="col-sm-4 col-form-label">Depreciation Amount:  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtRemaksAdd" name="depreciationAmount"
                                               placeholder="Depreciation Amount">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtNetWeightAdd" class="col-sm-4 col-form-label">Net Book Value:  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="ttRemaksAdd" name="netBookValue"
                                               placeholder="Net Book Value">
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label for="txtRemarksAdd" class="col-sm-4 col-form-label">Remarks: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <textarea type="text" class="form-control" id="txtRemarksAdd" name="remarks"-->
<!--                                                  placeholder="Remarks" rows="2"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="ddlEmployeeAdd" class="col-sm-4 col-form-label">In Charge</label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" id="ddlEmployeeAdd" name="employeeid">-->
<!--                                            <option th:value="${null}" disabled>-SELECT-</option>-->
<!--                                            <option th:each="employee : ${employees}"-->
<!--                                                    th:value="${employee.id}"-->
<!--                                                    th:text="${employee.firstname}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="ddlCurrentStatusAdd" class="col-sm-4 col-form-label">Current-->
<!--                                        Status</label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" id="ddlCurrentStatusAdd" name="vehiclestatusid">-->
<!--                                            <option th:value="${null}">-SELECT-</option>-->
<!--                                            <option th:each="vehicleStatus : ${vehicleStatuses}"-->
<!--                                                    th:value="${vehicleStatus.id}"-->
<!--                                                    th:text="${vehicleStatus.description}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-sm-4 col-form-label">Select Image: </label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="file" class="form-control-file" id="fupImageAdd" name="photo"-->
<!--                                               placeholder="Select File">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <label for="ddlCurrentLocationAdd" class="col-sm-4 col-form-label">Current-->
<!--                                        Location</label>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <select class="form-control" id="ddlCurrentLocationAdd" name="locationid">-->
<!--                                            <option th:value="${null}">-SELECT-</option>-->
<!--                                            <option th:each="location : ${locations}"-->
<!--                                                    th:value="${location.id}"-->
<!--                                                    th:text="${location.description}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <a href="/asset" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<script th:inline="javascript">
    // JavaScript to show/hide fields based on selected option
    document.getElementById("options").addEventListener("change", function() {
        var selectedOption = this.value;
        if (selectedOption === "option1") {
            document.getElementById("option1Fields").style.display = "block";
            document.getElementById("option2Fields").style.display = "none";
        } else if (selectedOption === "option2") {
            document.getElementById("option1Fields").style.display = "none";
            document.getElementById("option2Fields").style.display = "block";
        }
    });
</script>
</body>
</html>
